<!DOCTYPE html>
<html>
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="make setence with doodling">
    <meta name="keywords" content="midiDice sketch-rnn 두들링 ">
    <meta name="author" content="midiDice">

    <title>doodlering</title> 
    <script src="lib/jquery.min.js"></script>
        <style>
             html,
body {
    width: 360px;
    height:auto!important;
    min-height:100vh;
    background-color: #2a2c2e;
    margin:0;
    overflow: hidden;
}
.container {
width: 100%;
padding-right: 0px;
padding-left: 0px;
margin-right: auto;
margin-left: auto;
}
.background_image{
  position: relative;
}
.bttn_gamestart_howto{
    position: absolute;
    bottom:13.5%;
    left: 10%;
}
.ui_popup{
    position: absolute;
    left: 10%;
    top: 2%;
}
        </style>
    </head>
    <body>
        <div class="container">
            <picture>
                <img
                  src="/img/start_gametitle.png"
                  alt="start game title"
                  style="object-fit: cover;"
                  class="background_image"
                  loading="lazy"
                />
              </picture>
              <picture>
                    <img src="img/ui_popup.svg"
                    alt="how to play"
                    class="ui_popup"
                    style="object-fit: cover;"
                    loading="lazy"
                    />
                </picture>
              <picture>
                  <img
                    src="/img/bttn_gamestart.png"
                    alt="game start"
                    style="object-fit: cover;"
                    class="bttn_gamestart_howto"
                    loading="lazy"
                  />
                </picture>          
            </div>
        </div>
    </body>
    <script>
    $('.bttn_gamestart_howto').click(function(){
        location.href="/play.html"
    });
    </script>
</html>