<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="description" content="그림책을 완성해보세요.">
  <meta name="keywords" content="midiDice sketch-rnn 두들링 아트센터나비">
  <meta name="author" content="midiDice">

  <title>doodlering</title>
  <script src="/static/lib/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <div class="container">
    <picture>
      <img src="/static/img/ui_bg.png" alt="background image" style="object-fit: cover;" class="background_image"
        loading="lazy" />
    </picture>
    <div class="rectangle_main">
      <picture>
        <img src="/static/img/ui_result0.png" alt="play result" class="ui_result_start" style="object-fit: cover;"
          loading="lazy" />
      </picture>
    </div>
    <div class="ui_bottom">
      <picture>
        <img src="/static/img/bttn_off_next/1.svg" alt="next button" style="object-fit: cover;" class="bttn_off_next ending_first"
          loading="lazy" />
      </picture>
    </div>
  </div>
  </div>
  <script src="/static/app/common.js"></script>
</body>
</html>