<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="make setence with doodling">
    <meta name="keywords" content="midiDICE sketch-rnn 두들링 doodlering 아트센터나비">
    <meta name="author" content="midiDice">

    <title>doodlering</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/app/collection_doodle.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        <picture>
            <img src="/static/img/stories_bg.png" alt="user stories bg" style="object-fit: cover;"
                class="background_image" loading="lazy" />
        </picture>
        <div class="story_back_div">
            <picture>
                <img src="/static/img/bttn_off_back_white.png" alt="back" style="object-fit: cover;"
                    class="bttn_off_back_white" loading="lazy" />
            </picture>
        </div>
    </div>
    <div class="stories">
        <div class="story_box">
            <span class="story_date">2020-12-17</span>
            <a class="story_content">당신은 미디다이스의 <span id="word">작품</span>을 감상하고 있습니다.</a>
        </div>
    </div>
    </div>
</body>

</html>