<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="description" content="make setence with doodling">
  <meta name="keywords" content="midiDice sketch-rnn 두들링 아트센터나비">
  <meta name="author" content="midiDice">
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Doodlering" />
  <meta property="og:description"   content="그림책을 완성해보세요." />
  <meta property="og:image"         content="http://doodlering.mididice.works/static/img/start_gametitle.png" />

  <title>doodlering</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
  <script src="/static/lib/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>
  <div class="container">
    <picture>
      <img src="/static/img/ui_bg.png" alt="background image" style="object-fit: cover;" class="background_image"
        loading="lazy" />
    </picture>
    <div class="rectangle_main">
      <div class="stroy_ending_title">
        <span class="real_ending_title_emphasis">
          이야기를<br>
          잘 알아들었다고 느꼈나요?<br>
        </span>
        다른 사람은 그림을 어떻게<br>
        읽어내는지 이야기를 나누거나,<br>
        이야기를 새로 만들어보세요.
      </div>
      <picture>
        <img src="/static/img/ui_url.jpg" alt="ui_url_background" style="object-fit: cover;" class="ui_url"
          loading="lazy" />
      </picture>
      <div class="real_ending_center">
        제가 그린 그림 이야기입니다.<br>
        그림을 보고 내용을 한번 맞혀보세요.
        <a href="https://mididice.works/doodlering/sdfaf" class="real_ending_center_link">
          https://mididice.works/doodlering/start
        </a>
        <input type="hidden" id="shareLink" value="https://mididice.works/doodlering/start">
      </div>
      <picture>
        <img src="/static/img/bttn_copy.svg" alt="button copy" style="object-fit: cover;" class="bttn_copy"
          loading="lazy" onMouseDown="copyLink()" />
      </picture>
      <div class="real_ending_share">
        <a id="create-kakao-link-btn" class="real_ending_share_btn" href="javascript:;">
          <img src="/static/img/social_kakao.svg" />
        </a>
        <a class="real_ending_share_btn" target="_blank" onclick="shareFacebook()">
          <img src="/static/img/social_facebook.svg" />
        </a>
        <a class="real_ending_share_btn" target="_blank" onclick="shareTwitter()">
          <img src="/static/img/social_twitter.svg" />
        </a>
      </div>
      <picture>
        <a>
          <img src="/static/img/bttn_return.png" alt="button retry" style="object-fit: cover;" class="bttn_retry"
            loading="lazy" />
        </a>
      </picture>
    </div>
  </div>
  </div>
  <div class="ui_bottom">

  </div>
  </div>
</body>
<script src="/static/app/common.js"></script>
<script src="/static/lib/kakao.min.js"></script>
<script type="text/javascript">
    Kakao.init("cf67686fdea922cf740c5d71821bd9a1")
    Kakao.Link.createCustomButton({
      container: '#create-kakao-link-btn',
      templateId: 41441,
      templateArgs: {'key':getKey(), 'seq':1}
    })

    function shareFacebook() {
      window.open('http://www.facebook.com/sharer.php?u='+getShareLink());
    }

    function shareTwitter(){
      window.open('https://twitter.com/intent/tweet?text=doodlering&url='+getShareLink());
    }
</script>
</script>

</html>